NET "an<0>" LOC = P34;
NET "an<1>" LOC = P33;
NET "an<2>" LOC = P32;
NET "an<3>" LOC = P26;
NET "disp<0>" LOC = P25;
NET "disp<1>" LOC = P16;
NET "disp<2>" LOC = P23;
NET "disp<3>" LOC = P21;
NET "disp<4>" LOC = P20;
NET "disp<5>" LOC = P17;
NET "disp<6>" LOC = P83;
NET "in_top_module<0>" LOC = P38;
NET "in_top_module<1>" LOC = P36;
NET "in_top_module<2>" LOC = P29;
NET "in_top_module<3>" LOC = P24;
NET "in_top_module<4>" LOC = P18;
NET "in_top_module<5>" LOC = P12;
NET "in_top_module<6>" LOC = P10;
NET "in_top_module<7>" LOC = P6;